@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-change: #ea4343;
}

.green {
  --color-change: #66b95c;
}

.light-orange {
  --color-change: #ff9800;
}

.pink {
  --color-change: #ff5e94;
}

.dark-orange {
  --color-change: #fa5b0f;
}

.black {
  --color-change: #000;
}

.purple {
  --color-change: #9200ee;
}

.light-blue {
  --color-change: #00d4bd;
}

.grey {
  --color-change: #5e9e9f;
}

.blue {
  --color-change: #4169e1;
}

.mud-color {
  --color-change: #666d41;
}

.dark-red {
  --color-change: #fe0000;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #000000cc;
  font-weight: 400;
  font-size: 18px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #f4f5fe;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #fff;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.hero__intro {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
}

.hero__content {
  position: absolute;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__hello {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  display: inline-block;
}

.hero__name {
  font-size: 150px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  color: var(--color-change);
}

.hero__creative {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
}

.hero__choices {
  color: #fff;
  font-size: 75px;
}

.hero__btns-holder {
  margin-top: 35px;
  margin-bottom: 55px;
}

.hero__email-link {
  background-color: var(--color-change);
  border: 2px solid var(--color-change);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  position: relative;
  padding: 15px 73px 15px 46px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.hero__email-link:hover {
  background-color: transparent;
  color: #fff;
}

.hero__email-link .bx {
  font-size: 20px;
  margin-left: 9px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__about-box {
  margin-left: 36px;
}

.hero__about-link {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
}

.hero__about-link::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -3px;
  background-color: #fff;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.hero__about-link:hover {
  color: #fff;
}

.hero__about-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

#wheel {
  -webkit-animation: scroll ease 2s infinite;
          animation: scroll ease 2s infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

.hero__img-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 37%;
  z-index: 1;
}

.hero__main-img {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100%;
}

.hero__img-one {
  position: absolute;
  top: 150px;
  bottom: 150px;
  right: -55px;
  width: 380px;
  z-index: -4;
  background-color: var(--color-change);
}

.hero__img-two {
  position: absolute;
  bottom: 80px;
  left: -70px;
  width: 180px;
  height: 180px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-three {
  position: absolute;
  top: 235px;
  left: -110px;
  width: 80px;
  height: 110px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-four {
  position: absolute;
  width: 440px;
  height: 470px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  z-index: -1;
  border: 5px solid #fff;
}

.hero__img-five {
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 32%;
  right: -180px;
  background-color: var(--color-change);
}

.hero__opacity-name {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -145px;
  z-index: -2;
  margin-top: -70px;
  font-size: 260px;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff4d;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.socials {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
}

.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item:not(:last-child) {
  margin: 0 0 15px;
}

.socials__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials__link .bx {
  font-size: 30px;
}

.socials__link:hover {
  color: var(--color-change);
}

.hero__float-email {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.hero__float-email-link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.hero__float-email-link::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -3px;
  background-color: #fff;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.hero__float-email-link:hover {
  color: #fff;
}

.hero__float-email-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.hero__container {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.header {
  padding: 30px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo-link {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.header__logo-link:hover {
  color: #fff;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header-white {
  background: #fff;
}

.text-black {
  color: #15111e;
}

.header-padding {
  padding: 22px 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.7;
}

.header__link.active {
  color: var(--color-change) !important;
}

.header__link:hover {
  color: var(--color-change) !important;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 16px;
  }
  .header {
    padding: 20px 0;
  }
  .header-padding {
    padding: 15px 0;
  }
  .header__logo-link {
    font-size: 40px;
  }
  .header__link {
    font-weight: 16;
    font-weight: 600;
  }
  .container {
    max-width: 1070px;
  }
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
  .hero__hello {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hero__name {
    font-size: 80px;
  }
  .hero__creative {
    font-size: 25px;
  }
  .hero__choices {
    font-size: 35px;
  }
  .hero__btns-holder {
    margin-top: 25px;
    margin-bottom: 45px;
  }
  .hero__email-link {
    padding: 10px 62px 9px 35px !important;
  }
  .hero__about-box {
    margin-left: 28px;
  }
  .hero__img-box {
    width: 33%;
  }
  .hero__main-img img {
    width: 327px;
    height: 521px;
  }
  .hero__img-one {
    width: 250px;
    top: 100px;
    bottom: 100px;
  }
  .hero__img-two {
    width: 170px;
    height: 170px;
    bottom: 60px;
  }
  .hero__img-three {
    width: 60px;
    height: 90px;
    top: 150px;
    left: -85px;
  }
  .hero__img-four {
    width: 285px;
    height: 305px;
  }
  .hero__img-five {
    width: 35px;
    height: 50px;
    right: -135px;
  }
  .hero__opacity-name {
    font-size: 200px;
    right: -125px;
    margin-top: -44px;
  }
  .socials {
    left: 30px;
  }
  .socials__item:not(:last-child) {
    margin: 0 0 10px;
  }
  .socials__link .bx {
    font-size: 20px;
  }
  .hero__float-email {
    left: 30px;
    bottom: 20px;
  }
  .hero__float-email-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .hero__container {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
  }
  .header {
    padding: 0 !important;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .header__logo-link {
    color: #000 !important;
    font-size: 35px;
    line-height: 100%;
  }
  .header__nav {
    position: fixed;
    top: 66px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    padding: 25px 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -10;
  }
  .heightControl {
    height: 264px;
    opacity: 1;
    z-index: 10;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .header__link {
    color: #000;
    margin-left: auto;
  }
  .header__link.active {
    color: #000;
  }
  .header__link:hover {
    color: #000;
  }
  .hero__menu-btn {
    display: block !important;
    width: 30px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  .hero__menu-line {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 2px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
  }
  .hero__menu-line::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
    left: 0;
  }
  .hero__menu-line::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 20px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
    left: 0;
  }
  .rotate-it {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .rotate-it::before {
    -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }
  .rotate-it::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
            transform: translate3d(0, -20px, 0) rotate(-90deg);
  }
  .hero__content {
    width: 100%;
    margin-left: 20px;
  }
  .hero__img-box {
    display: none;
  }
  .socials {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__name {
    font-size: 60px;
  }
  .hero__creative {
    font-size: 20px;
  }
  .hero__choices {
    font-size: 30px;
  }
  .hero__about-box {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=main.css.map */