@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-change: #ea4343;
}

.green {
  --color-change: #66b95c;
}

.light-orange {
  --color-change: #ff9800;
}

.pink {
  --color-change: #ff5e94;
}

.dark-orange {
  --color-change: #fa5b0f;
}

.black {
  --color-change: #000;
}

.purple {
  --color-change: #9200ee;
}

.light-blue {
  --color-change: #00d4bd;
}

.grey {
  --color-change: #5e9e9f;
}

.blue {
  --color-change: #4169e1;
}

.mud-color {
  --color-change: #666d41;
}

.dark-red {
  --color-change: #fe0000;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f4f5fe;
  font-weight: 400;
  font-size: 18px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #f4f5fe;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #fff;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

#hero {
  background-color: #000000cc;
}

.hero__intro {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
}

.hero__content {
  position: absolute;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__hello {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  display: inline-block;
}

.hero__name {
  font-size: 150px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  color: var(--color-change);
}

.hero__creative {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
}

.hero__choices {
  color: #fff;
  font-size: 75px;
}

.hero__btns-holder {
  margin-top: 35px;
  margin-bottom: 55px;
}

.hero__email-link {
  background-color: var(--color-change);
  border: 2px solid var(--color-change);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  position: relative;
  padding: 15px 73px 15px 46px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.hero__email-link:hover {
  background-color: transparent;
  color: #fff;
}

.hero__email-link .bx {
  font-size: 20px;
  margin-left: 9px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__about-box {
  margin-left: 36px;
}

.hero__about-link {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
}

.hero__about-link::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -3px;
  background-color: #fff;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.hero__about-link:hover {
  color: #fff;
}

.hero__about-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

#wheel {
  -webkit-animation: scroll ease 2s infinite;
          animation: scroll ease 2s infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

.hero__img-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 37%;
  z-index: 1;
}

.hero__main-img {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100%;
}

.hero__img-one {
  position: absolute;
  top: 150px;
  bottom: 150px;
  right: -55px;
  width: 380px;
  z-index: -4;
  background-color: var(--color-change);
}

.hero__img-two {
  position: absolute;
  bottom: 80px;
  left: -70px;
  width: 180px;
  height: 180px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-three {
  position: absolute;
  top: 235px;
  left: -110px;
  width: 80px;
  height: 110px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-four {
  position: absolute;
  width: 440px;
  height: 470px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  z-index: -1;
  border: 5px solid #fff;
}

.hero__img-five {
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 32%;
  right: -180px;
  background-color: var(--color-change);
}

.hero__opacity-name {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -145px;
  z-index: -2;
  margin-top: -70px;
  font-size: 260px;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff4d;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.socials {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
}

.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item:not(:last-child) {
  margin: 0 0 15px;
}

.socials__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials__link .bx {
  font-size: 30px;
}

.socials__link:hover {
  color: var(--color-change);
}

.hero__float-email {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.hero__float-email-link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.hero__float-email-link::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -3px;
  background-color: #fff;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.hero__float-email-link:hover {
  color: #fff;
}

.hero__float-email-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.hero__container {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  padding: 30px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo-link {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.header__logo-link:hover {
  color: #fff;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header-white {
  background: #fff;
}

.text-black {
  color: #15111e;
}

.header-padding {
  padding: 22px 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.7;
}

.header__link.active {
  color: var(--color-change) !important;
}

.header__link:hover {
  color: var(--color-change) !important;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 16px;
  }
  .header {
    padding: 20px 0;
  }
  .header-padding {
    padding: 15px 0;
  }
  .header__logo-link {
    font-size: 40px;
  }
  .header__link {
    font-weight: 16;
    font-weight: 600;
  }
  .container {
    max-width: 1070px;
  }
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
  .hero__hello {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hero__name {
    font-size: 80px;
  }
  .hero__creative {
    font-size: 25px;
  }
  .hero__choices {
    font-size: 35px;
  }
  .hero__btns-holder {
    margin-top: 25px;
    margin-bottom: 45px;
  }
  .hero__email-link {
    padding: 10px 62px 9px 35px !important;
  }
  .hero__about-box {
    margin-left: 28px;
  }
  .hero__img-box {
    width: 33%;
  }
  .hero__main-img img {
    width: 327px;
    height: 521px;
  }
  .hero__img-one {
    width: 250px;
    top: 100px;
    bottom: 100px;
  }
  .hero__img-two {
    width: 170px;
    height: 170px;
    bottom: 60px;
  }
  .hero__img-three {
    width: 60px;
    height: 90px;
    top: 150px;
    left: -85px;
  }
  .hero__img-four {
    width: 285px;
    height: 305px;
  }
  .hero__img-five {
    width: 35px;
    height: 50px;
    right: -135px;
  }
  .hero__opacity-name {
    font-size: 200px;
    right: -125px;
    margin-top: -44px;
  }
  .socials {
    left: 30px;
  }
  .socials__item:not(:last-child) {
    margin: 0 0 10px;
  }
  .socials__link .bx {
    font-size: 20px;
  }
  .hero__float-email {
    left: 30px;
    bottom: 20px;
  }
  .hero__float-email-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .hero__container {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
  }
  .header {
    padding: 0 !important;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .header__logo-link {
    color: #000 !important;
    font-size: 35px;
    line-height: 100%;
  }
  .header__nav {
    position: fixed;
    top: 66px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    padding: 25px 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -10;
  }
  .heightControl {
    height: 264px;
    opacity: 1;
    z-index: 10;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .header__link {
    color: #000;
    margin-left: auto;
  }
  .header__link.active {
    color: #000;
  }
  .header__link:hover {
    color: #000;
  }
  .hero__menu-btn {
    display: block !important;
    width: 30px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  .hero__menu-line {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 2px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
  }
  .hero__menu-line::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
    left: 0;
  }
  .hero__menu-line::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 20px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;
    left: 0;
  }
  .rotate-it {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .rotate-it::before {
    -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }
  .rotate-it::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
            transform: translate3d(0, -20px, 0) rotate(-90deg);
  }
  .hero__content {
    width: 100%;
    margin-left: 20px;
  }
  .hero__img-box {
    display: none;
  }
  .socials {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__name {
    font-size: 60px;
  }
  .hero__creative {
    font-size: 20px;
  }
  .hero__choices {
    font-size: 30px;
  }
  .hero__about-box {
    margin-left: 20px;
  }
}

#about {
  background-color: #f4f5fe;
}

.about__container {
  padding: 170px 0;
  height: auto;
  width: 100%;
}

.about__left {
  width: 31%;
}

.about__left-img-box {
  width: 333px;
  height: 362px;
  position: relative;
  margin-left: 160px;
}

.about__left-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__box-one {
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: #ea4343;
  bottom: -80px;
  left: -65px;
  z-index: 0;
}

.about__border-one {
  position: absolute;
  width: 1000px;
  height: 300px;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: -50px;
  z-index: 2;
  border: 6px solid #fff;
}

.about__info {
  width: 44%;
  padding: 0 100px 0 140px;
}

.about__info-holder {
  margin-bottom: 32px;
}

.about__me {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-change);
  letter-spacing: -.2px;
  display: inline-block;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.about__title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.about__special {
  color: var(--color-change);
}

.about__location {
  font-size: 36px;
  font-weight: 700;
  color: #15111e;
  letter-spacing: -0.2px;
  display: inline-block;
  margin-top: 18px;
}

.about__info-text-box {
  margin-bottom: 12px;
}

.about__text {
  margin-bottom: 31px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0;
  color: #7d7789;
}

.about__link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: var(--color-change);
  font-weight: 700;
  position: relative;
  padding: 15px 73px 15px 46px;
  border-radius: 6px;
  border: 2px solid var(--color-change);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__link .bx {
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 9px;
}

.about__link:hover {
  color: #15111e;
  background-color: transparent;
}

.about__right-img-box {
  width: 25%;
  position: relative;
  top: 290px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__right-bc-img-holder {
  position: relative;
  margin-right: 70px;
  width: 327px;
  height: 487px;
}

.about__right-bc-img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.about__square {
  width: 1000px;
  height: 390px;
  background-color: var(--color-change);
  position: absolute;
  left: 100%;
  margin-left: -200px;
  top: -100px;
  z-index: 0;
}

@media screen and (max-width: 1440px) {
  .about__left-img-box {
    margin-left: 120px;
    width: 307px;
    height: 335px;
  }
  .about__box-one {
    width: 200px;
    height: 200px;
  }
  .about__border-one {
    height: 200px;
    margin-right: -30px;
  }
  .about__info {
    padding: 0 50px 0 80px;
  }
  .about__info-holder {
    margin-bottom: 23px;
  }
  .about__me {
    font-size: 18px;
  }
  .about__title {
    font-size: 40px;
  }
  .about__location {
    font-size: 25px;
    margin-top: 10px;
  }
  .about__info-text-box {
    margin-bottom: 20px;
  }
  .about__link {
    padding: 10px 62px 9px 35px;
  }
  .about__right-img-box {
    top: 240px;
  }
  .about__right-bc-img-holder {
    width: 275px;
    height: 409px;
  }
  .about__square {
    height: 260px;
    margin-left: -80px;
    top: -60px;
  }
}

@media screen and (max-width: 1200px) {
  .about__left-img-box {
    width: 251px;
    height: 273px;
  }
  .about__right-bc-img-holder {
    width: 229px;
    height: 340px;
  }
}

@media screen and (max-width: 1040px) {
  .about__left {
    display: none;
  }
  .about__right-img-box {
    display: none;
  }
  .about__info {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .about__container {
    padding: 135px 0;
  }
  .about__title {
    font-size: 30px;
  }
  .about__location {
    font-size: 20px;
  }
}

#skill {
  background-color: var(--color-change);
}

.skill__container {
  padding: 160px 0 557px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill__left {
  width: 50%;
  padding-right: 63px;
}

.skill__left-box {
  width: 100%;
  max-width: 620px;
}

.skill__me {
  color: #fff;
}

.skill__title {
  text-transform: capitalize;
  color: #fff;
}

.skill__text {
  margin-top: 32px;
  margin-bottom: 0;
  color: #fff;
}

.skill__right {
  width: 50%;
  padding-left: 63px;
  position: relative;
  top: -8px;
}

.skill__progress-box {
  width: 100%;
}

.skill__progress-box:not(:last-child) {
  margin-bottom: 27px;
}

.skill__name-box {
  margin: 0 0 13px;
  width: 100%;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill__num {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.skill__line {
  background: #ffffff4d;
  width: 100%;
  min-width: 100%;
  position: relative;
  height: 8px;
  border-radius: 25px;
}

.skill__colored-line {
  height: 100%;
  background: #fff;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
}

.html {
  width: 90%;
}

.java {
  width: 86%;
}

.react {
  width: 60%;
}

.skill__border {
  position: absolute;
  width: 1000px;
  height: 420px;
  border: 6px solid #fff;
  bottom: -180px;
  right: 100%;
  margin-right: -350px;
}

@media screen and (max-width: 1400px) {
  .skill__left-box {
    max-width: 500px;
  }
  .about__text {
    font-size: 16px;
  }
  .skill__name-box {
    margin-bottom: 8px;
  }
  .skill__name-box span {
    font-size: 19px;
  }
  .skill__border {
    bottom: -167px;
    margin-right: -210px;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    padding: 0 20px;
  }
  .skill__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill__left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
  .skill__left-box {
    max-width: 100%;
  }
  .about__title {
    font-size: 30px;
  }
  .skill__right {
    width: 100%;
    padding-left: 0;
  }
  .skill__border {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .skill__container {
    padding-top: 130px;
    padding-bottom: 527px;
  }
}

#work {
  margin-top: -500px;
  padding-top: 100px;
  position: relative;
  z-index: 9;
}

.work__title-box {
  text-align: center;
  margin: 0 auto;
}

.work__selected {
  color: #fff;
  text-transform: none;
  margin-bottom: 5px;
}

.work__title {
  color: #fff;
  font-size: 60px;
}

.work__ul-holder {
  width: 100%;
  text-align: center;
  padding: 78px 0 55px;
}

.work__list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__item:not(:last-child) {
  margin: 0 45px 0 0;
}

.work__link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work__link:hover {
  color: #fff;
}

.work__example-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 -25px;
}

.work__example-item {
  margin: 0 0 25px;
  padding-left: 25px;
}

.work__item-inner {
  width: 100%;
  height: auto;
  height: 423px;
  position: relative;
  cursor: pointer;
}

.work__bg-holder {
  width: 100%;
  height: 100%;
  position: relative;
}

.work__bimg {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/1.jpg");
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.bg-two {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/2.jpg");
}

.bg-three {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/3.jpg");
}

.bg-four {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/4.jpg");
}

.bg-five {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/5.jpg");
}

.bg-six {
  background-image: url("https://marketifythemes.net/html/aale/img/portfolio/6.jpg");
}

.work__whole-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-change);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 50px;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work__details {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 2;
  padding: 0 20px 35px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work__name {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.work__link-holder {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__external {
  text-decoration: none;
  color: #fff;
}

.work__external:first-child {
  margin-right: 20px;
}

.work__external .bx {
  font-size: 50px;
}

.work__external:hover {
  color: #fff;
}

.work__item-inner:hover .work__whole-color {
  opacity: 0.72;
}

.work__item-inner:hover .work__icon {
  opacity: 1;
  margin-top: 0;
}

.work__item-inner:hover .work__details {
  opacity: 1;
  bottom: 0;
}

@media screen and (max-width: 1440px) {
  .work__title {
    font-size: 40px;
  }
  .work__ul-holder {
    padding-bottom: 40px;
  }
  .work__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
  .work__item-inner {
    height: 313px;
  }
  .work__icon {
    font-size: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .work__example-item {
    width: 50%;
  }
  .work__item-inner {
    height: 352px;
  }
}

@media screen and (max-width: 768px) {
  .work__ul-holder {
    text-align: left;
  }
  .work__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .work__example-item {
    width: 100%;
    max-height: 724px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__item-inner {
    height: 537px;
    width: 537px;
  }
}

@media screen and (max-width: 576px) {
  .work__item-inner {
    height: 310px;
    width: 310px;
  }
}

@media screen and (max-width: 350px) {
  .work__item-inner {
    height: 276px;
    width: 276px;
  }
}

#service {
  padding: 135px 0;
  position: relative;
}

.service__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 -25px;
}

.service__item {
  margin: 0 0 25px;
  padding-left: 25px;
}

.service__item-holder {
  padding: 0 60px 0 0;
}

.service__me {
  margin-bottom: 5px;
}

.service__title {
  font-size: 60px;
  line-height: 1.3;
  text-transform: capitalize;
}

.service__text {
  margin-top: 32px;
}

.service__inner-item {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 13px 13px 90px #8304040f;
          box-shadow: 13px 13px 90px #8304040f;
  padding: 60px 60px 56px 200px;
}

.service__img-holder {
  position: absolute;
  left: 60px;
  width: 112px;
  height: 112px;
}

.service__img-holder img {
  width: 100%;
  height: 100%;
}

.service__img-holder svg {
  width: 72px;
  height: 72px;
  top: 23px;
  left: 15px;
  position: absolute;
  z-index: 2;
}

.service__name {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.2px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.service__price {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #7d7789;
  line-height: 1.7;
  margin-bottom: 12px;
}

.service__num {
  font-size: 30px;
  color: var(--color-change);
}

.service__inner-text {
  margin-bottom: 0;
}

.service__item:last-child {
  text-align: center;
  padding: 0 100px;
}

.service__keeper-last {
  padding: 0 60px 0 0;
  position: relative;
  top: 50%;
}

.service__wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.name-last {
  margin-bottom: 35px;
}

.service__link-btns {
  width: 100%;
}

.service__knock {
  text-decoration: none;
  color: #15111e;
  display: inline-block;
  background-color: transparent;
  font-weight: 700;
  position: relative;
  padding: 15px 73px 15px 46px;
  border-radius: 6px;
  border: 2px solid var(--color-change);
  font-size: 18px;
  line-height: 1.7;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service__knock svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--color-change);
  margin-left: 9px;
  margin-top: -2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service__knock:hover {
  background-color: var(--color-change);
  color: #fff;
}

.service__knock:hover svg {
  fill: #fff;
}

.service__box {
  position: absolute;
  width: 415px;
  height: 230px;
  background-color: #3c3c3c;
  bottom: 45px;
  left: 0;
  z-index: -1;
}

.service__box-two {
  position: absolute;
  width: 157px;
  height: 227px;
  background-color: var(--color-change);
  top: 35px;
  right: 0;
}

@media screen and (max-width: 1440px) {
  .service__title {
    font-size: 40px;
  }
  .service__inner-item {
    padding: 50px 30px 50px 130px;
  }
  .service__img-holder {
    left: 30px;
  }
  .service__img-holder svg {
    width: 40px;
    height: 40px;
    top: 16px;
    left: 22px;
  }
  .service__img-holder img {
    max-height: 70%;
    max-width: 70%;
  }
  .service__name {
    font-size: 25px;
    margin-bottom: 0;
  }
  .service__price {
    font-size: 16px;
  }
  .service__num {
    font-size: 25px;
  }
  .name-last {
    margin-bottom: 25px;
  }
  .service__knock {
    padding: 10px 62px 9px 35px;
  }
  .service__box {
    width: 270px;
    height: 190px;
    bottom: 60px;
  }
  .service__box-two {
    width: 110px;
    height: 170px;
  }
}

@media screen and (max-width: 1040px) {
  .service__box {
    display: none;
  }
  .service__box-two {
    display: none;
  }
  .service__item {
    width: 100%;
  }
  .service__item:last-child {
    text-align: left;
    padding: 0;
    padding-left: 25px;
  }
  .service__title {
    font-size: 30px;
  }
  .service__text {
    margin-bottom: 0;
  }
  .service__wrapper {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  #service {
    padding: 100px 0 0;
  }
  .service__inner-item {
    padding: 50px 30px;
  }
  .service__img-holder {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 110px;
    height: 90px;
  }
  .service__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .service__item:last-child {
    top: 100px;
    height: auto;
    width: 100% !important;
    max-width: 100% !important;
  }
  .service__keeper-last {
    width: 100% !important;
    max-width: 100% !important;
  }
  .service__wrapper {
    width: 100% !important;
    max-width: 100% !important;
  }
  .name-last {
    width: 100% !important;
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=main.css.map */