.hero__container{
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.header{
  padding: 30px 0;
  transition: all 0.3s ease;
}

.header__logo-link{
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;

  &:hover{
    color: #fff;
  }
}

.header__list{
  @include list-style;
}

.header__item{
  &:not(:last-child){
    margin-right: 45px;
  }
}

.header-white{
  background: #fff;
}

.text-black{
  color: #15111e;
}

.header-padding{
  padding: 22px 0;
}

.header__link{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.7;

  &.active{
    color: var(--color-change) !important;
  }

  &:hover{
    color: var(--color-change) !important;
  }
}

@media screen and (max-width: 1400px) {
  body{
    font-size: 16px;
  }

  .header{
    padding: 20px 0;
  }

  .header-padding{
    padding: 15px 0;
  }

  .header__logo-link{
    font-size: 40px;
  }

  .header__link{
    font-weight: 16;
    font-weight: 600;
  }

  .container{
    max-width: 1070px;
  }

  .header__item{
    &:not(:last-child){
      margin-right: 30px;
    }
  }

  .hero__hello{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .hero__name{
    font-size: 80px;
  }

  .hero__creative{
    font-size: 25px;
  }

  .hero__choices{
    font-size: 35px;
  }

  .hero__btns-holder{
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .hero__email-link{
    padding: 10px 62px 9px 35px !important;
  }

  .hero__about-box{
    margin-left: 28px;
  }

  .hero__img-box{
    width: 33%;
  }

  .hero__main-img{
    img{
      width: 450px !important;
      height: 600px !important;
    }
  }

  .hero__img-one{
    width: 250px;
    top: 100px;
    bottom: 100px;
  }

  .hero__img-two{
    width: 170px;
    height: 170px;
    bottom: 60px;
  }

  .hero__img-three{
    width: 60px;
    height: 90px;
    top: 150px;
    left: -85px;
  }

  .hero__img-four{
    width: 285px;
    height: 305px;
  }

  .hero__img-five{
    width: 35px;
    height: 50px;
    right: -135px;
  }

  .hero__opacity-name{
    font-size: 200px;
    right: -125px;
    margin-top: -44px;
  }

  .socials{
    left: 30px;
  }

  .socials__item{
    &:not(:last-child){
      margin: 0 0 10px;
    }
  }

  .socials__link{
    .bx{
      font-size: 20px;
    }
  }

  .hero__float-email{
    left: 30px;
    bottom: 20px;
  }

  .hero__float-email-link{
    font-size: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .hero__container{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 15px 20px;
  }

  .header{
    padding: 0 !important;
  }

  .container{
    width: 100%;
    padding: 0;
  }

  .header__logo-link{
    color: #000 !important;
    font-size: 35px;
    line-height: 100%;
  }
  
  .header__nav{
    position: fixed;
    top: 66px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    padding: 25px 40px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -10;
  }

  .heightControl{
    height: 264px;
    opacity: 1;
    z-index: 10;
  }

  .header__list{
    flex-direction: column;
    align-items: flex-start !important;
  }

  .header__link{
    color: #000;
    margin-left: auto;

    &.active{
      color: #000;
    }

    &:hover{
      color: #000;
    }
  }

  .hero__menu-btn{
    display: block !important;
    width: 30px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: relative;
  }

  .hero__menu-line{
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 2px;
    transition: all 0.15s ease;
    border-radius: 4px;
    background-color: #000;

    &::before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 10px;
      transition: all 0.15s ease;
      border-radius: 4px;
      background-color: #000;
      left: 0;
    }

    &::after{
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 20px;
      transition: all 0.15s ease;
      border-radius: 4px;
      background-color: #000;
      left: 0;
    }
  }

  .rotate-it{
    transform: translate3d(0,10px,0) rotate(45deg);

    &::before{
      transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
      opacity: 0;
    }

    &::after{
      transform: translate3d(0,-20px,0) rotate(-90deg);
    }
  }

  .hero__content{
    width: 100%;
    margin-left: 20px;
  }

  .hero__img-box{
    display: none;
  }

  .socials{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__name{
    font-size: 60px;
  }

  .hero__creative{
    font-size: 20px;
  }

  .hero__choices{
    font-size: 30px;
  }

  .hero__about-box{
    margin-left: 20px;
  }
}