#hero{
  background-color: #000000cc;
}

.color{
  position: fixed;
  z-index: 10;
  top: 25%;
  right: -200px;
  width: 200px;
  background-color: rgba(0,0,0,1.00);
  padding: 40px 20px 33px 30px;
  transition: all 0.3s ease;
}

.color__icon-box{
  position: absolute;
  top: 0px;
  right: 100%;
  background-color: #000;
  padding: 12px 12px 4px 12px;
  border: none;
  
  .bx{
    font-size: 35px;
    color: #fff;
    transition: all 0.3s ease;
    animation: setting 2s linear infinite both;
  }
}

@keyframes setting {
  0%{
      transform: rotate(0deg);
  }

  100%{
      transform: rotate(360deg);
  }
}

.color__title{
  color: #fff;
  font-weight: 600;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;

  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    left: 0px;
    bottom: 0px;
  }
}

.color__list{
  padding: 0;
  margin: 0px 0px 22px 0px;
  list-style-type: none;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.color__item{
  margin-right: 5px;

  &:first-child{
    .color__btn{
      background-color: #4169e1;
    }
  }

  &:nth-child(2){
    .color__btn{
      background-color: #66b95c;
    }
  }

  &:nth-child(3){
    .color__btn{
      background-color: #ff9800;
    }
  }

  &:nth-child(4){
    .color__btn{
      background-color: #ff5e94;
    }
  }

  &:nth-child(5){
    .color__btn{
      background-color: #fa5b0f;
    }
  }

  &:nth-child(6){
    .color__btn{
      background-color: #333;
    }
  }

  &:nth-child(7){
    .color__btn{
      background-color: #9200ee;
    }
  }

  &:nth-child(8){
    .color__btn{
      background-color: #00d4bd;
    }
  }

  &:nth-child(9){
    .color__btn{
      background-color: #5e9e9f;
    }
  }

  &:nth-child(10){
    .color__btn{
      background-color: #ea4343;
    }
  }

  &:nth-child(11){
    .color__btn{
      background-color: #666d41;
    }
  }

  &:nth-child(12){
    .color__btn{
      background-color: #fe0000;
    }
  }
}

.color__btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
}

.color__cursor-list{
  padding: 0;
  margin: 0px;
  list-style-type: none;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.color__cursor-item{
  margin: 0px 20px 0px 0px;
  display: inline-block;
}

.color__cursor-btn{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
  color: #fff;
  opacity: 0.4;
  font-weight: 600;
  background-color: transparent;

  &::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
}

.color__regular-cursor{
  border: none;
  background-color: transparent;

  svg{
    width: 25px;
    height: 25px;
    fill: #fff;
  }
}

.hero__intro{
  margin-top: 20px;
  width: 100%;
  height: 100vh;
}

.hero__content{
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.hero__hello{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  display: inline-block;
}

.hero__name{
  font-size: 150px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  color: var(--color-change);
}

.hero__creative{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
}

.hero__choices{
  color: #fff;
  font-size: 75px;
}

.hero__btns-holder{
  margin-top: 35px;
  margin-bottom: 55px;
}

.hero__email-link{
  background-color: var(--color-change);
  border: 2px solid var(--color-change);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  position: relative;
  padding: 15px 73px 15px 46px;
  border-radius: 6px;
  transition: all 0.3s ease;
  text-transform: capitalize;

  &:hover{
    background-color: transparent;
    color: #fff;
  }

  .bx{
    font-size: 20px;
    margin-left: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hero__about-box{
  margin-left: 36px;
}

.hero__about-link{
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;

  &::after{
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: -3px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
  }

  &:hover{
    color: #fff;

    &::after{
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

#wheel{
  animation: scroll ease 2s infinite;
}

@keyframes scroll {
  0%{
    transform: translateY(0);
  }
  30%{
    transform: translateY(60px);
  }
}

.hero__img-box{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 37%;
  z-index: 1;
}

.hero__main-img{
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 100%;
}

.hero__img-one{
  position: absolute;
  top: 150px;
  bottom: 150px;
  right: -55px;
  width: 380px;
  z-index: -4;
  background-color: var(--color-change);
}

.hero__img-two{
  position: absolute;
  bottom: 80px;
  left: -70px;
  width: 180px;
  height: 180px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-three{
  position: absolute;
  top: 235px;
  left: -110px;
  width: 80px;
  height: 110px;
  z-index: 2;
  background-color: var(--color-change);
}

.hero__img-four{
  position: absolute;
  width: 440px;
  height: 470px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: -1;
  border: 5px solid #fff;
}

.hero__img-five{
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 32%;
  right: -180px;
  background-color: var(--color-change);
}

.hero__opacity-name{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -145px;
  z-index: -2;
  margin-top: -70px;
  font-size: 260px;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff4d;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.socials{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.socials__list{
  @include list-style;
}

.socials__item{
  &:not(:last-child){
    margin: 0 0 15px;
  }
}

.socials__link{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;

  .bx{
    font-size: 30px;
  }

  &:hover{
    color: var(--color-change);
  }
}

.hero__float-email{
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.hero__float-email-link{
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  transition: all 0.3s ease;
  position: relative;

  &::after{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: -3px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
  }

  &:hover{
    color: #fff;

    &::after{
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}