#skill{
  background-color: var(--color-change);
}

.skill__container{
  padding: 160px 0 557px;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
}

.skill__left{
  width: 50%;
  padding-right: 63px;
}

.skill__left-box{
  width: 100%;
  max-width: 620px;
}

.skill__me{
  color: #fff;
}

.skill__title{
  text-transform: capitalize;
  color: #fff;
}

.skill__text{
  margin-top: 32px;
  margin-bottom: 0;
  color: #fff;
}

.skill__right{
  width: 50%;
  padding-left: 63px;
  position: relative;
  top: -8px;
}

.skill__progress-box{
  width: 100%;

  &:not(:last-child){
    margin-bottom: 27px;
  }
}

.skill__name-box{
  margin: 0 0 13px;
  width: 100%;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.2px;
  display: flex;
  justify-content: space-between;
}

.skill__num{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.skill__line{
  background: #ffffff4d;
  width: 100%;
  min-width: 100%;
  position: relative;
  height: 8px;
  border-radius: 25px;
}

.skill__colored-line{
  height: 100%;
  background: #fff;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
}

.html{
  width: 90%;
}

.java{
  width: 86%;
}

.react{
  width: 60%;
}

.skill__border{
  position: absolute;
  width: 1000px;
  height: 420px;
  border: 6px solid #fff;
  bottom: -180px;
  right: 100%;
  margin-right: -350px;
}

@media screen and (max-width: 1400px) {
  .skill__left-box{
    max-width: 500px;
  }

  .about__text{
    font-size: 16px;
  }

  .skill__name-box{
    margin-bottom: 8px;

    span{
      font-size: 19px;
    }
  }

  .skill__border{
    bottom: -167px;
    margin-right: -210px;
  }
}

@media screen and (max-width: 1040px) {
  .container{
    padding: 0 20px;
  }
  .skill__container{
    flex-direction: column;
  }

  .skill__left{
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }

  .skill__left-box{
    max-width: 100%;
  }

  .about__title{
    font-size: 30px;
  }

  .skill__right{
    width: 100%;
    padding-left: 0;
  }

  .skill__border{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .skill__container{
    padding-top: 130px;
    padding-bottom: 527px;
  }
}