#testimonial{
  height: 100%;
  max-height: 816px;
}

.testimonial__container{
  height: auto;
  background-color: var(--color-change);
  padding: 160px 0 155px;
  position: relative;
}

.testimonial__img-holder{
  position: absolute;
  max-width: 31%;
  bottom: 0;
  margin-left: 150px;

  img{
    width: 100%;
    height: 100%;
  }
}

.testimonial__right-box{
  max-width: 660px;
}

.testimonial__entry{
  width: 100%;
  max-width: 620px;
  text-align: left;
}

.testimonial__me{
  color: #fff;
  margin-bottom: 5px;
}

.testimonial__title{
  font-size: 60px;
  line-height: 1.3;
  margin-bottom: 0;
  color: #fff;
  text-transform: capitalize;
}

.testimonial__carousel{
  margin: 70px 0 0;
}

.testimonial__text{
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
  font-style: italic;
  line-height: 1.6;
}

.testimonial__name{
  position: relative;
  padding-left: 60px;
  margin-bottom: 55px;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;

  &::before{
    position: absolute;
    content: "";
    width: 36px;
    height: 1px;
    background-color: #ffffff7a;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.testimonial__job{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.testimonial__btns{
  position: relative;
  height: 40px;
}

.testimonial__btn{
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 35px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;

  &:hover{
    transform: scale(1.6) translateY(-30%);
  }
}

.t-left{
  left: 0;
}

.t-right{
  left: 56px;
}

@media screen and (max-width: 1400px) {
  .testimonial__container{
    padding: 140px 0 135px;
  }

  .testimonial__img-holder{
    margin-left: 90px;
    max-width: 35%;
  }

  .testimonial__entry{
    max-width: 500px;
  }

  .testimonial__title{
    font-size: 40px;
  }

  .testimonial__carousel{
    margin-top: 60px;
  }

  .testimonial__text{
    width: 100%;
    max-width: 500px;
    font-size: 23px;
  }
}

@media screen and (max-width: 1040px) {
  .testimonial__container{
    padding: 140px 0 135px;
  }
  .testimonial__left{
    display: none;
  }

  .testimonial__right{
    width: 100%;
    padding: 0 20px;
  }

  .testimonial__text{
    width: 100%;
    max-width: 100%;
  }

  .testimonial__title{
    font-size: 30px;
  }

  .testimonial__carousel{
    margin-top: 60px;
  }

  .testimonial__text{
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .testimonial__entry{
    max-width: 100%;
  }

  .testimonial__item{
    padding-right: 25px;
    max-width: 100vw;
  }

  .testimonial__text{
    font-size: 19px;
  }
}