#work{
  margin-top: -500px;
  padding-top: 100px;
  position: relative;
  z-index: 9;
}

.work__title-box{
  text-align: center;
  margin: 0 auto;
}

.work__selected{
  color: #fff;
  text-transform: none;
  margin-bottom: 5px;
}

.work__title{
  color: #fff;
  font-size: 60px;
}

.work__ul-holder{
  width: 100%;
  text-align: center;
  padding: 78px 0 55px;
}

.work__list{
  @include list-style;
  justify-content: center;
}

.work__item{
  cursor: pointer;
  position: relative;
  
  &:not(:last-child){
    margin: 0 45px 0 0;
  }

  &::after{
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: -3px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
  }

  &:hover{
    color: #fff;

    &::after{
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

.work__link{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease;

  &:hover{
    color: #fff;
  }
}

.work__example-list{
  @include list-style;
  margin: 0 0 0 -25px;
}

.work__example-item{
  margin: 0 0 25px;
  padding-left: 25px;
}

.work__item-inner{
  width: 100%;
  height: auto;
  height: 423px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.work__bg-holder{
  width: 100%;
  height: 100%; 
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.work__bimg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;

  img{
    height: 100%;
    width: 100%;
    object-fit: contain; 
    border-radius: 10px;
  }
}

.work__whole-color{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-change);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.work__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #fff;
  font-size: 50px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.work__details{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 2;
  padding: 0 20px 35px;
  opacity: 0;
  transition: all 0.3s ease;
}

.work__name{
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.work__link-holder{
  justify-content: center;
}

.work__external{
  text-decoration: none;
  color: #fff;

  &:first-child{
    margin-right: 20px;
  }

  .bx{
    font-size: 50px;
  }

  &:hover{
    color: #fff;
  }
}

.work__item-inner{
  &:hover{
    .work__whole-color{
      opacity: 0.72;
    }

    .work__icon{
      opacity: 1;
      margin-top: 0;
    }

    .work__details{
      opacity: 1;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1440px) {
  .work__title{
    font-size: 40px;
  }

  .work__ul-holder{
    padding-bottom: 40px;
  }

  .work__item{
    &:not(:last-child){
      margin: 0 30px 0 0;
    }
  }

  .work__item-inner{
    height: 313px;
  }

  .work__icon{
    font-size: 40px;
  }
}

@media screen and (max-width: 1040px){
  .work__example-item{
    width: 50%;
  }

  .work__item-inner{
    height: 352px;
  }
}

@media screen and (max-width: 768px) {
  .work__ul-holder{
    text-align: left;
  }

  .work__list{
    justify-content: flex-start;
  }

  .work__example-item{
    width: 100%;
    max-height: 724px;
    display: flex;
    justify-content: center;
  }

  .work__item-inner{
    height: 537px;
    width: 537px;
  }
}

@media screen and (max-width: 576px) {
  .work__item-inner{
    height: 310px;
    width: 310px;
  }
}

@media screen and (max-width: 350px) {
  .work__item-inner{
    height: 276px;
    width: 276px;
  }
}